<div class="header-container container">
  <header>
    <strong><a href="{{ site.url }}" class="top-link">john patrick amata</a></strong>
      <ul class="nav">
        <!--Change the  URL here if working on an absolute domain-->
        <li>/ <a href="http://johnamata.com/">Home</a> / </li>
        <li><a href="http://johnamata.com/about">About</a> / </li>
        <li><a href="{{ "/archives" | prepend: site.url }}">Archives</a> / <span class="u-separate"></span></li>
        <li><a href="https://johnamata.com/projects">Projects</a> / </li>
        <li><a href="https://johnpatrickamata.blogspot.com/">Blog</a></li>
        
        <!---
        {% if site.owner.github %}
          <li><a href="{{ site.owner.github }}" target="_blank">Projects</a></li>
        {% endif %}
        -->
      </ul>
    <img src="/photos/jpamata-cropped-20171220_145904.jpg">
  </header>
</div>
