<section class="intro">
  <div class="container">
    <p class="lead">Hi, I'm <strong class="author-name" itemprop="name">{{ site.author.name }}</strong>, a <em itemprop="jobTitle">{{ site.author.job }}</em>. <br>
    {{ site.author.bio }}</p>
    <center><p align="justify"> I’ll be writing my adventures and exploits, random thoughts and musings, and the projects I’ll be doing and be part of along the way. I hope that this journal will help me guide myself on this wide, long, space called life. Take what you need, and pass it on.</p></center>
    <p class="lead">So without further ado, here's <br\ ><strong class="author-name" itemprop="name">The Education of a Programmer</strong></p>
  </div>
</section>
